* {
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: #ecf0f1;
    color: #2c3e50;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
}

/****** Formulaires *******/
ul.form {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.form li {
    margin-bottom: 1.75em;
}

label {
    display: block;
    margin-bottom: .15em;
    cursor: pointer;
    font-weight: bold;
}